body{
	padding-top: 60px;
}
h1{
	font-size: 2rem;
}

.search-form{position: relative}
#search-ipt{padding-left:10px;}
.search-form .dropdown-menu{display:none;}
.search-opts{min-height:190px;}
.search-opts a{display: block;padding:5px 10px; text-decoration: none; color:#666;}
.search-opts a:hover{background: $component-active-bg; color:$component-active-color;}
.search-panel-footer{border-top:1px solid #ccc; margin:0 10px; padding:10px 0 5px 0; text-align: right}